*{
    -webkit-overflow-scrolling: touch;
    -webkit-touch-callout: none;
}
html{
    font-size: 18px;
}
html,
body{
    width: 100%;
    height: 100%;
}
p{
    padding: 0;
    margin: 0;
}
a{
    -webkit-tap-highlight-color:transparent;
}
body.fix-ios-input-cursor{
    position:fixed!important;
    width:100%!important;
}